* {
  margin: 0;
  padding: 0;	
}

.body{
  background-color: rgb(14, 10, 71);
  
}

#target {
  background-color: rgb(60, 12, 61);
}

.key {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  padding: 5;
  background-color: rgb(55, 0, 255);
}

.keyboard-container {
  margin-top: 200px;
}

#target-letter {
  font-size: 38px;
  color: rgb(73, 26, 26);
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}